<!-- <img src="images/banner141229.jpg" alt=""> -->
<center>
<h1>留言板</h1>
<form action="/post" method='post'>
  <span>留言</span><br/>
  <textarea rows="4" cols="50" name="password"></textarea><br/>
  <!-- <input type="text" > -->
  <input type="submit" vlaue="送出">
</form>

<table border="1">
　

<% for(var i=0; i< listdata.length; i++) {%>  
  <tr>
    <td><%- JSON.stringify(listdata[i].message) %></td>
    <td><input type="button" id=delete<%- i %> value="刪除">
        <input type="hidden" id=id<%- i %> value=<%- JSON.stringify(listdata[i]._id) %>>
        <input type="hidden" id="num" value= <%- listdata.length %> ></td>
  </tr>
<% } %>

  
</table>

<!-- <h1>jQuery ajax送出</h1>
<input type="text" id="password">
<input type="button" id="send" value="送出">
<h1>取得資料</h1>
<input type="button" id="getData" value="取得電話資料">
<ul id="list"></ul> -->


<script>
  jQuery(document).ready(function($) {
    var num = $('#num').val();
    for (var i = 0; i < num; i++) {
      var del='#delete'+i;
      
      //console.log(del);
      //console.log(id);
      (function() {
        $(del).click(function(event) {
          event.preventDefault();
          var btn_id=event.target.id;
          //console.log(del);
            btn_id=btn_id.slice(6,7);
          //console.log(btn_id);
          var id_val = $('#id'+btn_id).val();
          //console.log(id_val);
          $.post('/delete', {'id': id_val}).success(function(data){
              console.log(data);
              if(data=='success'){
                window.location.reload(" page.index ");
                //alert('刪除成功');
              }else{
                alert('刪除失敗');
              }
          });
        });
      })(del);
    }
    
    // $('#getData').on('click', function(event) {
    //   event.preventDefault();
    //   $.get('/getAjax').success(function(data){
    //     // console.log(data)
    //     $('#list').children().remove()
    //     for(i=0;data.length>i;i++){
    //       $('#list').append('<li>姓名：'+data[i].name+' 電話：'+data[i].tel);
    //     }
    //   });
    // });
  });
</script>
</center>
